*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Title_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Title_box img{
  height: 100px;
  width: 100px;
  transform: translateX(27px);
  z-index: 1;
}
.Homepage-body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 /* background-color: brown; */
 background:  url('./assets/Homepage_bg.png');
 background-size: contain;
 /* background-size: cover; */
 background-repeat: repeat;
 animation: waveBackground 5s ease-in-out infinite alternate;
  flex-direction: column;
}
@keyframes waveBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 10% 55%;
  }
}
.Homepage{
  display: flex;
  background-color: #edc968;
  opacity: 0.86;
    /* background: url('../public/tic-tak.png'); */
  margin-bottom: 110px;
  border: 2px solid wheat;
  box-shadow: 3px 2px 3px black;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  height: 400px;
}
.Homepage img{
  height: 350px;
  width: 350px;
  margin-top: 70px;
}
.Title{
  color: #e4aa0b;
  -webkit-text-stroke-width: 0.6px;
  /* -webkit-text-stroke-color: #000; */
  text-align: center;  
  font-family: "Bangers", system-ui;
  font-weight: 600;
  font-style: normal;
font-size: 1.7rem;
animation: pulse 4s ease-in-out infinite;
z-index: 2;
}
@keyframes pulse {
  0%{
    font-size: 1.4rem;
  }
  50%{
    font-size: 1.6rem;
  }
  100%{
    font-size: 1.7rem;
  }
}
/* board  */
.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.board-container{
  z-index: 2;
  margin: 30px;
  margin-top: 80px;
  height: 300px;
  width: 300px;
  background: url('./assets/Board_mesh.png');
  background-size: contain;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.Board-mesh{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: url('../public/tic-tak.png'); */
  background: url('./assets/Board_bg.png');
  background-size: contain;
  flex-direction: column;
gap: 20px;
}

/* From Uiverse.io by satyamchaudharydev */ 
.Button {
  border: none;
  width: 140px;
  height: 50px;
  color: #fff;
  z-index: 1;
  display: flex;
  background: #000;
  position: relative;
  cursor: pointer;
  top: 50px;
}

.Button p {
  margin: 0 auto;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.Button::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  clip-path: polygon(
    0% 74%,
    4% 75%,
    8% 76%,
    11% 77%,
    15% 78%,
    20% 78%,
    25% 77%,
    32% 77%,
    37% 75%,
    40% 74%,
    43% 74%,
    46% 73%,
    52% 72%,
    57% 72%,
    65% 74%,
    66% 75%,
    71% 78%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  background: #8792eb;
  transition: 0.2s ease;
}

.Button::before {
  position: absolute;
  content: "";
  /*   bottom: 80%; */
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.2s ease;
  /*   bottom:; */
  z-index: -1;
  clip-path: polygon(
    0% 74%,
    4% 75%,
    8% 76%,
    11% 77%,
    15% 78%,
    20% 78%,
    25% 77%,
    32% 77%,
    37% 75%,
    40% 74%,
    43% 74%,
    46% 73%,
    52% 72%,
    57% 72%,
    65% 74%,
    66% 75%,
    71% 78%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  background: #8792eb;
}

.Button:hover::after {
  clip-path: polygon(
    0 30%,
    9% 34%,
    7% 39%,
    11% 43%,
    13% 33%,
    17% 30%,
    24% 34%,
    25% 35%,
    30% 31%,
    30% 38%,
    39% 33%,
    35% 43%,
    43% 45%,
    55% 46%,
    65% 74%,
    67% 66%,
    81% 57%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  height: 80%;
}

.Button:hover::before {
  clip-path: polygon(
    0 30%,
    9% 34%,
    7% 39%,
    11% 43%,
    13% 33%,
    17% 30%,
    24% 34%,
    25% 35%,
    30% 31%,
    30% 38%,
    39% 33%,
    35% 43%,
    43% 45%,
    55% 46%,
    65% 74%,
    67% 66%,
    81% 57%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  height: 80%;
}
.Profilecard_top{
  display: flex;
  justify-content: space-between;
  position: fixed;
  float: left;
  left: 10px;
  top: 10px;
  width: 200px;
  height: 100px;
  background: linear-gradient(45deg, #fffbf0, #ffdd87);
    transition-duration: 0.5s;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 12px;
  padding: 10px;
  z-index: 1000; 
}
.Profile_Avatar{
  height: 50px;
  width: 50px;
}
.Profile_League_Avatar{
    height: 50px;
  width: 50px;
}
.Level_Points{
    font-family: "Bangers", system-ui;
  font-weight: 600;
  font-style: normal;
  color: silver;
}
.Avatar_Name{
      font-family: "Bangers", system-ui;
  font-weight: 600;
  font-style: normal;
  color: #f7be24;
}
.Profilecard_Bottom{
    display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  float: left;
  left: 10px;
  top: 100px;
  width: 200px;
  height: 100px;
  background: linear-gradient(45deg, #fcefcc, #ffcb47);
    transition-duration: 0.5s;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 12px;
  padding: 10px;
  z-index: 999;
}
.Wins_Lose_Stats{
  display: flex;
  justify-content: space-evenly;
   font-family: "Bangers", system-ui;
  font-weight: 600;
  font-style: normal;
}
.Login_Logout{
   display: flex;
  justify-content: space-evenly; 
}
.Login,.Logout{
  border-radius: 12px;
  padding: 7px;
  justify-content: space-evenly;
   font-family: "Bangers", system-ui;
  font-weight: 600;
  font-style: normal;
}
.Login:hover{
  background-color: #2be299;
  box-shadow: 0px 15px 20px rgba(36, 184, 125, 0.4);
  color: #fff;
  transform: translateY(-3px);
  border-radius: 12px;
  cursor: pointer;
}
.Logout:hover{
    background-color: #e2562b;
  box-shadow: 0px 15px 20px rgba(153, 64, 29, 0.4);
  color: #fff;
  transform: translateY(-3px);
  cursor: pointer;
  border-radius: 12px;
}
.Details_Profile{
  text-align: center;
  font-family: "Bangers", system-ui;
  font-weight: 600;
  font-style: normal;
}
.Profile{
  text-decoration: none;
}